



<div class="container">
<div class="col-sm-6">
<div class="row" >

<h2>Add Employee Detail</h2>
<form *ngIf="active" name="addemployee" (submit)="onSubmit($event)" #heroForm="ngForm">

<div class="form-group row">
  <label for="example-search-input" class="col-2 col-form-label">First Name</label>
  <div class="col-10">
    <input class="form-control" type="text" required [(ngModel)]="model.firstName" #amit name="firstName" />
  </div>
</div>
<div class="form-group row">
  <label for="example-email-input" class="col-2 col-form-label">Last Name</label>
  <div class="col-10">
    <input class="form-control" type="text" required [(ngModel)]="model.lastName" name="lastName" />
  </div>
</div>
<div class="form-group row">
  <label for="example-url-input" class="col-2 col-form-label">Date of Joining</label>
  <div class="col-10">
    <input class="form-control" type="date"  required [(ngModel)]="model.doj" name="doj" />
  </div>
</div>

<div class="form-group row">
  <label for="example-password-input" class="col-2 col-form-label">Location Id</label>
  <div class="col-10">
    <input class="form-control" type="text" required [(ngModel)]="model.locationId" name="locationId" />
  </div>
</div>
<div class="form-group row">
    <button type="submit" class="btn btn-default" [disabled]="!heroForm.form.valid">Submit</button>
</div>
</form>
</div>
</div>
</div>