.login {
  width: 40%;
}

.form-box {
    margin: 90px auto 0;
    width: 360px;
}
.form-box .header {
    background: #3c1e69 none repeat scroll 0 0;
    border-radius: 4px 4px 0 0;
    box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.2) inset;
    color: #fff;
    font-size: 26px;
    font-weight: 300;
    padding: 20px 10px;
    text-align: center;
}
.form-box .body, .form-box .footer {
    background: #fff none repeat scroll 0 0;
    color: #444;
    padding: 10px 20px;
}
.form-box .body > .form-group, .form-box .footer > .form-group {
    margin-top: 20px;
}
.form-box .body > .form-group > input, .form-box .footer > .form-group > input {
    border: medium none #fff;
}
.form-box .body > .btn, .form-box .footer > .btn {
    margin-bottom: 10px;
}
.form-box .footer {
    border-radius: 0 0 4px 4px;
}

.bg-gray {
    background-color: #eaeaec !important;
}